<template name="signIn">
    <div class="ui compact labeled icon dropdown item">
        <i class="sign in icon"></i>
        <span class="text">Sign In</span>
        <div class="menu">
            <div class="divider"></div>
            <div class="item">
                <div class="ui left icon input">
                    <input placeholder="Search users..." type="text">
                    <i class="users icon"></i>
                </div>
            </div>
            <div class="item">
                <div class="ui blue empty circular label"></div>
                Announcement
            </div>
            <div class="item">
                <div class="ui black empty circular label"></div>
                Discussion
            </div>
        </div>
    </div>
</template>