<template name="myChannel">
    <div class="ui page grid">
        <div class="sixteen wide column">
            <div class="ui borderless menu">
                <div class="header item">
                    Temporary Channel
                </div>
                <div class="right menu">
                    <a class="item"><i class="edit icon"></i> Change your Name</a>
                    {{> render component='InviteFriends'}}
                    {{#if currentUser.isGuest}}
                        <a class="item">
                            <i class="spy icon"></i>
                            Become a Member
                        </a>
                    {{/if}}
                    <a class="item"><i class="settings icon"></i> Channel Settings</a>
                </div>
            </div>
        </div>
        <div class="nine wide column">
            <div class="segment ui">
                {{> render component='Player'}}
                {{> render component='PlayListControls'}}
            </div>
        </div>
        <div class="seven wide column">
            <div class="segment ui">
                {{> render component='ChatBox'}}
            </div>
        </div>
    </div>
</template>